/* https://blog.csdn.net/yye894817571/article/details/79416036 */
.header-hbox{
    -fx-background-color: #c7d2dc;
}
.img-content-wrapper{
    -fx-background-color: #c3caec;
}
.img-content{
    -fx-background-color: #d9dae1;
}